---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-10 md:text-3xl">
    <Container>
      <div
            class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-12/12 sm:text-left"
          >
            <span class="block text-gray-500 dark:text-gray-400 text-center"
              >We change the way UI components librairies are used</span
            >
  
            <span class="block text-gray-500 dark:text-gray-400 text-center">ErzgaJaya &copy; <span id="year"></span></span>
  
            <span class="flex justify-between text-gray-600 dark:text-white">
              <a href="#" class="font-bold px-2.5">Terms of Use </a>
              <a href="#" class="font-bold"> Privacy Policy</a>
            </span>
  
            <span class="block text-gray-500 dark:text-gray-400 text-center"
              >Need help? <a href="#" class="font-bold text-gray-600 dark:text-white"> Contact Us</a></span
            >
          </div>
    </Container>
</footer>