---
import Container from "./Container.astro"
---
<container>
  <div class=" py-36 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    </div>
    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto text-center">
      <span class="relative inline-block">
        <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
          <defs>
            <pattern id="f51618fb-0edb-4bcb-b35a-ffc770941286" x="0" y="0" width=".135" height=".30">
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect fill="url(#f51618fb-0edb-4bcb-b35a-ffc770941286)" width="52" height="24"></rect>
        </svg>
        <span class="relative">Gimana</span>
      </span>
      Cara Memesan Jasa Kami?
    </h2>
    <p class="text-base text-gray-700 md:text-lg text-center">
      Layanan Bengkel Las
Kanopi | Kerajinan Besi | Konstruksi Baja | Pintu Besi | Pintu Garasi | Pagar Besi | Railing Balkon | Railing Tangga | Tangga Besi | Teralis Jendela | Teralis Pintu
    </p>
  </div>
  <div class="mx-12 grid gap-8 row-gap-0 lg:grid-cols-3 md:grid-cols-3">
    <div class="relative text-center">
      <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-20 sm:h-20 bg-purple-700">
        <svg class="w-12 h-12 text-deep-purple-accent-400 sm:w-16 sm:h-16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_429_11095)">
<path d="M12.5 17V7L10.5 9" stroke="#fff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<circle cx="12" cy="12" r="9" stroke="#00000000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_429_11095">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>
      </div>
      <h6 class="mb-2 text-2xl font-extrabold py-6">Ketahui Apa Kebutuhan Anda</h6>
      <p class="max-w-md mb-3 text-xl text-gray-900 sm:mx-auto px-4 md:text-2xl">
        Ketahui Apa Kebutuhan Anda
Pastinya Anda harus mengetahui apa sedang dibutuhkan dengan jasa tukang las? Membuat produk? Memperbaiki (Servis) atau justru lainnya? Setelah mengetahui kebutuhan Anda, silahkan konsultasi dengan tukang las kami untuk penanganannya.
      </p>
      <a href="https://wa.me/6282134957159" aria-label="" class="inline-flex items-center font-bold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800 rounded-2xl p-2.5 bg-purple-700 text-white">KONSULTASI</a>
      <div class="top-0 right-0 flex items-center justify-center h-24 lg:-mr-8 lg:absolute">
        <svg class="w-8 text-gray-700 transform rotate-90 lg:rotate-0 md:hidden" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12"></line>
          <polyline fill="none" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
        </svg>
      </div>
    </div>
    <div class="relative text-center">
      <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-20 sm:h-20 bg-purple-700">
        <svg class="w-12 h-12 text-deep-purple-accent-400 sm:w-16 sm:h-16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_429_10992)">
<circle cx="12" cy="12" r="9" stroke="#00000000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.5 9.5C9.5 8.8602 9.74408 8.2204 10.2322 7.73224C11.2085 6.75593 12.7915 6.75593 13.7678 7.73224C14.7441 8.70856 14.7441 10.2915 13.7678 11.2678L9.93934 15.0962C9.65804 15.3775 9.5 15.759 9.5 16.1569L9.5 17H14.5" stroke="#fff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_429_10992">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>
      </div>
      <h6 class="mb-2 text-2xl font-extrabold py-6">Total Biaya dan Jasa Tukang Las</h6>
      <p class="max-w-md mb-3 text-xl text-gray-900 sm:mx-auto px-4 md:text-2xl">
        Setelah mengetahui apa kebutuhan Anda, kami akan segera menghitung biaya terhadap jasa las yang sedang Anda butuhkan. Setiap detail harga produk besi serta jasa akan kami rinci sehingga lebih transparan kepada Anda.
      </p>
      <a href="https://wa.me/6282134957159" aria-label="" class="inline-flex items-center font-bold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800 rounded-2xl p-2.5 bg-purple-700 text-white">KONSULTASI</a>
      <div class="top-0 right-0 flex items-center justify-center h-24 lg:-mr-8 lg:absolute">
        <svg class="w-8 text-gray-700 transform rotate-90 lg:rotate-0 md:hidden" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12"></line>
          <polyline fill="none" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
        </svg>
      </div>
    </div>
    <div class="relative text-center">
      <div class="flex items-center justify-center w-16 h-16 mx-auto mb-4 rounded-full bg-indigo-50 sm:w-20 sm:h-20 bg-purple-700">
        <svg class="w-12 h-12 text-deep-purple-accent-400 sm:w-16 sm:h-16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_429_10991)">
<circle cx="12" cy="12" r="9" stroke="#00000000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M10 16.2361C10.5308 16.7111 11.2316 17 12 17C13.6569 17 15 15.6569 15 14C15 12.3431 13.6569 11 12 11L15 7H10" stroke="#fff" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_429_10991">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>
      </div>
      <h6 class="mb-2 text-2xl font-extrabold py-6">Pengerjaan Kebutuhan Client</h6>
      <p class="max-w-md mb-3 text-xl text-gray-900 sm:mx-auto px-4 md:text-2xl">
        Jika harga jasa tukang las sudah dealing, tukang kami akan segera memproses kebutuhan yang tadi Anda sudah konsultasikan. Kami akan langsung menerjunkan tukang yang professional dan berpengalaman untuk kebutuhan Anda.
      </p>
      <a href="https://wa.me/6282134957159" aria-label="" class="inline-flex items-center font-bold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800 rounded-2xl p-2.5 bg-purple-700 text-white">KONSULTASI</a>
      <div class="top-0 right-0 flex items-center justify-center h-24 lg:-mr-8 lg:absolute">
        <svg class="w-8 text-gray-700 transform rotate-90 lg:rotate-0 md:hidden" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <line fill="none" stroke-miterlimit="10" x1="2" y1="12" x2="22" y2="12"></line>
          <polyline fill="none" stroke-miterlimit="10" points="15,5 22,12 15,19 "></polyline>
        </svg>
      </div>
    </div>
  </div>
</container>
